*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #EFD1C5;
}
#header {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 70px;
    color: #BB4923;
    font-weight: 900;
    text-shadow: -6px 1px 0px #FFFFFF;
}
#mainpage {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
.navitem {
    background-color: #BB4923;
    display: inline-block;
    justify-content: center;
    height: 449px;
    width: 310px;
    margin: 20px;
    border-radius: 40px;
    font-size: 35px;
    border: 6.92855px solid rgba(9, 1, 1, 0.3);
    box-shadow: 0px 3.95917px 5.93876px #000000;
    cursor: pointer; 
    transition: 0.5s; 
}
.headernav {
    text-align: center;
    margin-top: 70px;
}
#imgdiv1 {
    margin-top: 120px;
    margin-right: 4px;
}
#imgdiv2 {
    margin-top: 76px;
}
#imgdiv3 {
    margin-top: 110px;
}
#img2 {  
    border-radius: 40px;
    width: 297px;
}
.navitem:hover {
    height: 500px;
    width: 350px;
    transition: 0.5s;
    font-size: 40px;
}
