* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html,body{
  margin: 0px;
  height: 100%;
}
body{
  background-color: #EFD1C5;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}
.main{
  width: 100%;
  height: 100%;
}
.cover{
  width: 100%; 
  height: 80vh; 
  background-size: cover;
}
.board{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}
.pics{
  height: 170px;
  border-radius: 24px; 
}
.surface{
  background-color:black;
  margin-top: -33px;                                    
  width: 96%;
  height: 30px;
  opacity: 50%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.lable{
  margin-top: 5px;
  color: aliceblue;
  text-align: center;
  font-weight:400;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 175px;
  margin: 20px 10px;
}







