*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    justify-content: center;
    display: flex;

}
body {
     background-color: #EFD1C5;
}
#mainpage {

    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
#nav1 {
   background-color: #BB4923;
   display: flex;
   justify-content: center;
   height: 449px;
}
#nav2 {
    background-color: #BB4923;
    display: flex;
    justify-content: center;
    height: 449px;
}
#nav3 {
    background-color: #BB4923;
    display: flex;
    justify-content: center;
    height: 449px;
}